<div class="container">
  <div class="card">

    <div class="container">

      <h1>New point</h1>

      <%= render "form", point: @point %>

      <br>

      <div>
        <%= link_to "Back to points", points_path %>
      </div>

    </div>
  </div>
</div>
