<div id="<%= dom_id contact_group %>">
  <p>
    <strong>Name:</strong>
    <%= contact_group.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= contact_group.description %>
  </p>

</div>
