<div class="container">
  <div class="card">

    <div class="container">

      <h1>New contact group</h1>
      <p>Contact groups are ways to categorize your contacts based on where you met them, e.g. School Friends, Army Buddies, Paris, Etc.  You can create 5 on the free plan, and unlimited on the paid plan.</p>

      <%= render "form", contact_group: @contact_group %>

      <br>

      <div>
        <%= link_to "Back to contact groups", contact_groups_path %>
      </div>

    </div>
  </div>
</div>