<% if results.any? %>
	<div class="overflow-y-auto" >
		<% results.each do |contact| %>
			<% link_to contact.first_name, contact %> <%= link_to contact.last_name, contact %> <%= contact.last_known_country %> <% contact.last_known_city %>
		<% end %>
	</div>
<% end %>