<div class="container">
  <div class="card">

    <div class="container">

      <p style="color: green"><%= notice %></p>

      <h1>Interactions</h1>

       <table class="table">
          <thead>
            <tr>
              <th>

      <div id="interactions">
        <% @interactions.each do |interaction| %>
          <%= render partial: 'interaction', locals: { interaction: interaction } %>
          <p>
            <%= link_to "Show this interaction", interaction %>
          </p>
        <% end %>
      </div>

      <%= link_to "New interaction", new_interaction_path %>

    </div>
  </div><!--end card div -->
</div><!--end container div -->