<div class="container">
  <div class="card">    

    <div class="container">

      <h1>New interaction</h1>

      <%= render "form", interaction: @interaction %>

      <br>

      <div>
        <%= link_to "Back to interactions", interactions_path %>
      </div>

    </div>

  </div><!--end card div -->
</div><!--end container div -->