<div class="container">
  <div class="card">    

    <div class="container">

      <h1>New interaction</h1>

      <p>NOTE: If this interaction has a new contact, please <%= link_to "add that person", new_contact_path %> to the database before starting to fill out this form.</p>

      <%= render "form", interaction: @interaction %>

      <br>

      <div>
        <%= link_to "Back to interactions", interactions_path %>
      </div>

    </div>

  </div><!--end card div -->
</div><!--end container div -->