<div id="<%= dom_id interaction_type %>">
  <p>
    <strong>Name:</strong>
    <%= interaction_type.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= interaction_type.description %>
  </p>

</div>
