<h1>Editing interaction type</h1>

<%= render "form", interaction_type: @interaction_type %>

<br>

<div>
  <%= link_to "Show this interaction type", @interaction_type %> |
  <%= link_to "Back to interaction types", interaction_types_path %>
</div>
