<div id="<%= dom_id interaction_category %>">
  <p>
    <strong>Name:</strong>
    <%= interaction_category.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= interaction_category.description %>
  </p>

</div>
