<h1>Editing interaction category</h1>

<%= render "form", interaction_category: @interaction_category %>

<br>

<div>
  <%= link_to "Show this interaction category", @interaction_category %> |
  <%= link_to "Back to interaction categories", interaction_categories_path %>
</div>
