<h1>New interaction category</h1>

<%= render "form", interaction_category: @interaction_category %>

<br>

<div>
  <%= link_to "Back to interaction categories", interaction_categories_path %>
</div>
