<br><br>

<h1 class="text-center" style="font-family: 'Dosis', sans-serif; font-size: 4em">Welcome to Contact Points!</h1>

<%# image_tag("points.png", class: "img-fluid", alt: "Contact Points Image") %>


<div class="container" style="max-width: 1200px; font-family: 'Roboto', sans-serif;; text-align: justify;">
		<br><br>
		<p style="text-align: center; background-color: yellow; border-radius: 10px; font-size: 2em">Stay in better touch with everyone important in your life.  Guaranteed.</p>
		<p style="text-align: center; font-size: 1.7em";><i>We are the contact management solution for busy, well-connected people.</i></p>

		<br><br>

	<div class="text-center m-2 p-2">
	    <a href="/users/sign_up" class="btn btn-primary">Get Started For Free!</a>
	    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">How & Why It Works</button>

	    <br><br><br>

	    <p style="text-align: center; font-size: 1em";>Contact Points is still in beta.  Please report any bugs to roe[at]monroemann[dot]com</p>
	</div>


	
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">How & Why It Works</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <p>40 years ago, before the internet and cell phones, we all could manage all of our contacts easily in a simple address book.  Most of us had an average of 25 people in their address books.  Most sales people had an average of 100 people in their address books.  It was relatively easy to keep track of and keep up with all of our contacts.</p>
				<p>Not anymore.</p>
				<p>Today, thanks to the uber connectedness of the internet, and social media, we now have an average of 500 people in our "address books"--most of whom we barely talk to in any given year.  Even worse: when you add up all the contacts in our phones, social media, and email inboxes, we all have an average of over 3000 contacts. Whoah!</p>
				<p>How the heck to truly stay in touch with this many people?  Answer: you don't.  It is virtually impossible to stay in touch with this many people given the way we currently manage our contacts.</p>
				<p>Enter Contact Points.  A new type of contact management software.</p>
				<p>Most contact management software focuses simply on when you last contacted someone.  But that's irrelevant.  What matters most is the <em>quality</em> of your interactions with your contacts.  How to track that?  We do so for you via points.  Every interaction logged assigns a point value based on many different variables that measure the quality of the interaction.  The more you use it, the more easily the algorithm tells you who you should be contacting next to keep your relationships strong.  Just do what it says, and you'll never again say, "Oh my gosh, has it really been that long since we've seen talked!"</p>
				<p>Give Contact Points a try for free.  When you realize that this is <em>the</em> way to ensure you never again lose contact with those who matter most, it's just $8/month to unlock unlimited contacts, and unlimited interactions.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	

</div>

