<div class="container">
  <div class="card p-5">
    <h3>Support</h3>
    <p>You can reach out to Monroe by email at: roe at monroe mann dott com</p>
    <p>You can send a text message to Monroe in the USA via this number: 6314-284-808+1.  The number is backwards, so enter from right to left.</p>
    <p>You can reach Monroe on <a href="https://www.breakdiving.io", target="_blank">Break Diving</a></p>
  </div><!-- end card div -->
</div><!-- end container div -->