<div class="container">
  <div class="card">

    <div class="mx-auto py-5">

      <h1>New contact</h1>

      <%= render "form", contact: @contact %>

      <br>

      <div>
        <%= link_to "Back to contacts", contacts_path %>
      </div>

    </div>
  </div>
</div>