<h1>Editing last known city</h1>

<%= render "form", last_known_city: @last_known_city %>

<br>

<div>
  <%= link_to "Show this last known city", @last_known_city %> |
  <%= link_to "Back to last known cities", last_known_cities_path %>
</div>
