<div class="container">
  <div class="card">

    <div class="container">

      <h1>Editing contact type</h1>

      <%= render "form", contact_type: @contact_type %>

      <br>

      <div>
        <%= link_to "Show this contact type", @contact_type %> |
        <%= link_to "Back to contact types", contact_types_path %>
      </div>

    </div>
  </div>
</div>    
