<div class="container">
  <div class="card">

    <div class="container">

      <h1>New Contact Type</h1>
      <p>Contact types are ways to categorize your contacts based on what they do, e.g. Doctor, Pilot, Teacher, Publicist, etc. You can create 5 on the free plan, and unlimited on the paid plan.</p>

      <%= render "form", contact_type: @contact_type %>

      <br>

      <div>
        <%= link_to "Back to contact types", contact_types_path %>
      </div>

    </div>
  </div>
</div>