
<div class="container">
	<div class="card p-5">
	
		<h1>Checkout</h1>


		<h3>Lifetime</h3>
		<p>Purchase a Lifetime Subscription That Never Expires for $275.  Pays for itself after 2.5 years!</p>
		
		<div>
				<%= render partial: 'pay/stripe/checkout_button', locals: {
				session: @checkout_session,
				title: "Make Purchase"
			} %>
		</div>

		<h3>Annual</h3>
		<p>Supercharge Your Relationships For Just $88/year.  Get 1 Month Free!</p>

		<h3>Monthly</h3>
		<p>Supercharge Your Relationships For Just $8/month. Give it a try. Cancel anytime.</p>

	</div>
</div>