<div class="container">
	<div class="card p-5">


		<h1>Payment Success.</h1>

		<h2>Your total was $<%= @session.amount_total.to_f / 100 %>  </h2>

		<% @line_items.each do |item| %>
			<p><%= item.description %></p>
			<p>Your total is: $<%= item.price.unit_amount.to_f / 100 %></p>

			<% product = Stripe::Product::retrieve(item.price.product) %>
			
			<%# image_tag(product.images.first, width: 300) %>
		
		<% end %>

		<h4>Billing Notes</h4>
		<p>If you purchased a Lifetime Subscription, this is your only payment.  There is no recurring payment.</p>
		<p>If you purchased a monthly or annual recurring, your subscription will continue to renew until canceled.</p>
		<p>To cancel, click on 'Billing' on the top right of the navbar, or click on 'Manage Billing' in the 'Go To' dropdown.  You can also reach out to support, but cancellation will take a few days.</p>

		<%# @product_name %>

	</div>
</div>