<div id="<%= dom_id emotional_reaction %>">

  <p>
    <strong>Name:</strong>
    <%= emotional_reaction.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= emotional_reaction.description %>
  </p>

</div>
