<div class="container">
  <div class="card">

    <div class="container">

      <h1>New emotional reaction</h1>

      <%= render "form", emotional_reaction: @emotional_reaction %>

      <br>

      <div>
        <%= link_to "Back to emotional reactions", emotional_reactions_path %>
      </div>

    </div>
  </div>
</div>
