<h1>Editing last known country</h1>

<%= render "form", last_known_country: @last_known_country %>

<br>

<div>
  <%= link_to "Show this last known country", @last_known_country %> |
  <%= link_to "Back to last known countries", last_known_countries_path %>
</div>
