<div class="container">
  <div class="card">

    <p style="color: green"><%= notice %></p>

    <h1>Categories</h1>
    <%= link_to "New", new_category_path %>

    <div id="categories">
      <% @categories.each do |category| %>
        <%= render category %>
        <p>
          <%= link_to "Show", category %>
        </p>
      <% end %>

  </div><!--end card div -->
</div><!--end container div -->